iframe {
    position: relative;
    left:40%;
}

.iframe-container {
    display: block;
    width: 700px;
    height: 700px;
}
/* 
.idkplzcenter {
    width: 90%;
    height: 90%;
    position:fixed;
    text-align:center
}  */
